
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
  <h2>Meet the little angry dwarf!</h2>
  <div style="text-align: center;" >
    <img src="~/Content/Images/lord.jpg" alt="The lord dwarf" />
  </div>
</div>

<p>Do you dare to ask the little man something?</p>
<div style="margin-top: 30px;">
  <input type="text" class="input-lg" id="question"/>
  <input type="button" class="input-lg" src="#" id="idButton" value="Send question"/>
</div>

<div class="well-lg">
  <h2 class="example-right" id="answer"></h2>
  <br/>
  <img src="~/Content/Images/dwarf.jpg" alt="Angry little dwarf"/>
</div>

